body {
    background-color: lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.company-information {
    display: flex;
    flex-direction: row;
    border: dashed 2px black;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.summary {
    width: 50%
}

.current-page {
    border: 2px dashed black;
    border-bottom: 0px;
}

.ship-blueprint {
    background-color: grey;
    background-size: 20px 20px;
    background-image:
    linear-gradient(to right, darkgrey 1px, transparent 1px),
    linear-gradient(to bottom, darkgrey 1px, transparent 1px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 2px dashed black;
    padding: 20px;
}

.ship-image-large {
    width: 75%;
}

.ship-image-small {
    width: 50%;
}